<div class="mb-4">
    <h2 class="text-success">
        Sign In
    </h2>
    <div>
        Don't Have an Account?
        <a routerLink="/signup"
            class="text-decoration-none fw-medium text-success text-success d-inlin-block">
            Sign up
        </a>
    </div>
</div>
<form [formGroup]="form">
    <div class="mb-3"><input
            class="form-control bg-body-secondary"
            placeholder="Email" formControlName="email">
        <!-- <div class="error-feedback"
            *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required')">
            Full Name is Required.
        </div> -->
    </div>

    <div class="mb-3"><input
            class="form-control bg-body-secondary"
            placeholder="Password" formControlName="password">
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">
            Sign In
        </button>
    </div>
</form>
